<!--    顶部通知   -->
<include file="Public:header"/><!--焦点图-->
<div class="index_pic_wrap po_re">
    <div id="myCarousel" class="my-carousel">
        <!--<div class="my-carousel-indicators">-->
        <ol class="my-carousel-indicators">
            <volist name="indexAdver" id="vo">
                <li data-target="#myCarousel" data-slide-to="{$i - 1}"
                <eq name="i" value="1"> class="active"</eq>>
                </li>
            </volist>
        </ol>
        <div class="my-carousel-inner">
            <volist name="indexAdver" id="vo">
                <div class="item hand <eq name='i' value='1'> active</eq>" onclick="window.open('{$vo['url']}')" style="background-image: url(__UPLOAD__/ad/{$vo.img});"></div>
            </volist>
        </div>
    </div>
    <div class="login_wrap">
        <div class="login_box">
            <div class="login_bg"></div>
            <!-- 未登录状态 -->
            <gt name="Think.session.userId" value="0">
                <div id="login-bar" class="login_box_2">
                    <h2>欢迎登录{:C('web_name')}交易平台</h2>
                    <dl>
                        <dt>您正在使用的账号为:</dt>
                        <dd>
                            <a href="/finance/" class="user-email">{$Think.session.userName}</a>
                        </dd>
                        <dd>
                            ID：
                            <span class="user-id">{$Think.session.userId}</span>
                        </dd>
                        <dd>
                            总资产：
                            <span class="user-finance" id="user_finance">loading...</span>
                        </dd>
                    </dl>
                    <div class="login_box_2_btn">
                        <a href="/finance/">充值</a>
                        <a href="/finance/">提现</a>
                        <a href="/finance/mywt.html" class="w82">委托管理</a>
                    </div>
                    <div class="gotocenter">
                        <a href="/finance/" class="center">去财务中心</a>
                    </div>
                    <div class="service_qq"></div>
                </div>
                <else/>
                <form id="form-login-i">
                    <div class="login_box_1">
                        <!-- <div class="login_title">登录</div> -->
                        <div class="login_text zin90">
                            <input type="text" id='username' value="" placeholder="请输入手机号/会员名" autocomplete="off" spellcheck="false"/>

                            <div id="email-err-i" class="prompt" style="display: none"></div>
                        </div>
                        <div class="login_text zin80">
                            <input type="password" id="password" value="" placeholder="请输入登录密码" autocomplete="off"/>

                            <div id="pw-err-i" class="prompt" style="display: none"></div>
                        </div>
                            <div class="login_text zin70" id="ga-box-i">
                                <img id="codeImg" src="{:U('Verify/code')}" width="120" height="38" onclick="this.src=this.src+'?t='+Math.random()" onload="!$('#codeImg').data('first') && $('#codeImg').click().data('first','1')" style="margin-top: 1px; cursor: pointer;float: right;" title="换一张">
                                <input type="text" class="code" id="verify" name="code" placeholder="请输入验证码" style="width: 106px; float: left;" autocomplete="off">
                            </div>

                        <div class="login_button">
                            <button class="ui-button ui-button-block" id="loginSubmit" type="button" onclick="user.login()">登录</button>
                        </div>
                    </div>
                </form>
                <div class="login-footer">
                        <!--<a href="/"> <img src="__PUBLIC__/Home/images/qq2.png">QQ登录</a> -->
  <span> <a href="{:U('Login/register')}">免费注册</a> ｜ <a href="{:U('Login/findpwd')}">忘记密码</a>
  </span>
                    </div>
            </gt>
        </div>
    </div>
</div>
<div class="zhanwei"></div>
<!--    公告   -->
<div class="autobox">
    <div class="ui-notice">
        <i class="ui-icon ui-icon-tongzhi"></i>
        <div class="ui-notice-content" id="uiNotice"></div>
        <a class="ui-more" href="/Article/index">更多...</a>
    </div>
</div>
<!--<div class="trade-type-tab-box autobox">
    <div class="tab-item-btn left active" data-value="1">合约交易</div>
    <div class="tab-item-btn left" data-value="2">USDT交易</div>
</div>-->
<div class="clearfix contract-trade-box trade-container content-1 common-container" style="display: none;">
    <div class="price_today">
        <ul class="price_today_ull autobox">
            <li data-sort="0" style="cursor: default;width: 20%;">交易市场</li>
            <li class="click-sort" data-sort="1" data-flaglist="0" data-toggle="0" style="width: 10%">价格
                <i class="cagret cagret-down"></i>
                <i class="cagret cagret-up"></i>
            </li>
            <li class="click-sort" data-sort="6" data-flaglist="0" data-toggle="0" style="width: 15%">交易量
                <i class="cagret cagret-down"></i>
                <i class="cagret cagret-up"></i>
            </li>
            <li class="click-sort" data-sort="4" data-flaglist="0" data-toggle="0" style="width: 15%">总市值
                <i class="cagret cagret-down"></i>
                <i class="cagret cagret-up"></i>
            </li>
            <li class="click-sort" data-sort="7" data-flaglist="0" data-toggle="0" style="width: 10%">日涨跌
                <i class="cagret cagret-down"></i>
                <i class="cagret cagret-up"></i>
            </li>
            <li data-sort="0" style="width: 10%;text-align: left;">24小时最高</li>
            <li data-sort="0" style="width: 10%;text-align: left;">24小时最低</li>
            <li data-sort="0" style="width: 10%">操作</li>
            <!-- <li data-sort="0" style="width: 10%">收藏</li> -->
        </ul>
    </div>
    <ul class="price_today_ul autobox" id="contract-list"></ul>
</div>
<div class="clearfix usdt-trade-box trade-container content-2 common-container">
    <div class="price_today">
        <ul class="price_today_ull autobox">
            <li data-sort="0" style="cursor: default;width: 20%;">交易市场</li>
            <li class="click-sort" data-sort="1" data-flaglist="0" data-toggle="0" style="width: 15%">价格
                <i class="cagret cagret-down"></i>
                <i class="cagret cagret-up"></i>
            </li>
            <li class="click-sort" data-sort="6" data-flaglist="0" data-toggle="0" style="width: 15%">交易量
                <i class="cagret cagret-down"></i>
                <i class="cagret cagret-up"></i>
            </li>
            <li class="click-sort" data-sort="4" data-flaglist="0" data-toggle="0" style="width: 20%">总市值
                <i class="cagret cagret-down"></i>
                <i class="cagret cagret-up"></i>
            </li>
            <li class="click-sort" data-sort="7" data-flaglist="0" data-toggle="0" style="width: 15%">日涨跌
                <i class="cagret cagret-down"></i>
                <i class="cagret cagret-up"></i>
            </li>
            <li data-sort="0" style="width: 15%">价格趋势(3日)</li>
            <!--<li data-sort="0" style="width: 10%">操作</li>-->
            <!-- <li data-sort="0" style="width: 10%">收藏</li> -->
        </ul>
    </div>
    <ul class="price_today_ul autobox" id="price_today_ul"></ul>
</div>

<input type="hidden" name="coin_type" value="cny_btc"/>
<input type="hidden" name="amount" value="1000000"/>

<script>
    (function (w, d, n, a, j) {
        w[n] = w[n] || function () {
            (w[n].a = w[n].a || []).push(arguments);
        };
        j = d.createElement('script');
        j.async = true;
        j.src ='https://qiyukf.com/script/c73f013995be91903732f0462dc4be17.js';
        d.body.appendChild(j);
    })(window, document, 'ysf');
</script>

<script>
    //顶部通知
    ui.message();
    //通知
    ui.notice("#uiNotice");

    a = "654";

    //轮播图
    var $allItems = $('.my-carousel .my-carousel-inner .item');
    var $allIndicators = $('.my-carousel .my-carousel-indicators li');
    var currentIndex = 0;
    var currentItem = null;
    var nextItem = null;
    var time = null;


    $(".my-carousel").hover(function () {
        time = window.clearInterval(time);
        time = null;
    }, function () {
        time = setInterval(function () {
                    currentItem = $allItems.filter('.active');
                    if (currentIndex + 1 === $allItems.length) {
                        nextItem = $allItems.eq(0);
                        currentIndex = 0;
                    } else {
                        nextItem = $allItems.eq(currentIndex + 1);
                        currentIndex += 1;
                    }
                    nextItem.addClass('active').fadeIn(500);
                    $allIndicators.removeClass('active').eq(currentIndex).addClass('active');
                    currentItem.removeClass('active').fadeOut(1000);
                },5000);
    }).trigger("mouseleave");



    $(".my-carousel-indicators li").click(function () {

        var nextIndex = parseInt($(this).attr('data-slide-to'));
        if (nextIndex == currentIndex) return false;
        currentIndex = nextIndex;
        currentItem = $allItems.filter('.active');
        currentItem.removeClass('active').fadeOut(1000);
        $allItems.eq(currentIndex).addClass('active').fadeIn(500);

        $allIndicators.removeClass('active').eq(currentIndex).addClass('active');

    });


    $('.price_today_ull > .click-sort').each(function () {
        $(this).click(function () {
            click_sortList(this);
        })
    })
    
    function allcoin_callback(priceTmp) {
        for (var i in priceTmp) {
            var c = priceTmp[i][8];
            if (typeof (trends[c]) != 'undefined' && typeof (trends[c]['data']) != 'undefined' && trends[c]['data'].length > 0) {
                $.plot($("#" + c + "_plot"), [
                    {
                        shadowSize: 0,
                        data: trends[c]['data']
                    }
                ], {
                    grid: {borderWidth: 0},
                    xaxis: {
                        mode: "time",
                        ticks: false
                    },
                    yaxis: {
                        tickDecimals: 0,
                        ticks: false
                    },
                    colors: ['#DA4F49']
                });
            }
        }
    }

    function click_sortList(sortdata) {
        var a = $(sortdata).attr('data-toggle');
        var b = $(sortdata).attr('data-sort');
        $(".price_today_ull > li").find('.cagret-up').css('border-bottom-color', '#848484');
        $(".price_today_ull > li").find('.cagret-down').css('border-top-color', '#848484');
        $(".price_today_ull > li").attr('data-flaglist', 0).attr('data-toggle', 0);
        $(".price_today_ull > li").css('color', '');
        $(sortdata).css('color', '#ff7950');

        if (a == 0) {
            priceTmp = priceTmp.sort(sortcoinList('dec', b));
            $(sortdata).find('.cagret-down').css('border-top-color', '#ff7950');
            $(sortdata).find('.cagret-up').css('border-bottom-color', '#848484');
            $(sortdata).attr('data-flaglist', 1).attr('data-toggle', 1)
        }
        else if (a == 1) {
            $(sortdata).attr('data-toggle', 0).attr('data-flaglist', 2);
            ;
            $(sortdata).find('.cagret-up').css('border-bottom-color', '#ff7950');
            $(sortdata).find('.cagret-down').css('border-top-color', '#848484');
            priceTmp = priceTmp.sort(sortcoinList('asc', b));
        }
        renderPage(priceTmp);
        allcoin_callback(priceTmp);
    }

    
    // 获取合约行情数据
    var getContractList_timer = null;
    function getContractList() {
        clearTimeout(getContractList_timer);
        getContractList_timer = null;

        var html = '';

        $.getJSON('/Ajax/contractList', function (res) {
            
            if(res.length) {
                for(var i = 0;i<res.length;i++) {
                    html += '<li>'+
                        '<dl class="autobox clear">'+
                            '<dd style="width:20%">'+
                                '<a href="/contract/index/market/' + res[i].market + '/">' +
                                    '<img src="/Upload/coin/' + res[i].img + '">' + 
                                        res[i].title + 
                                '</a>'+
                            '</dd>'+
                            '<dd style="width:10%">' + formatPrice(res[i].new_price) + '</dd>'+
                            '<dd style="width:15%">' + formatPrice(formatCount(res[i].volume)) + '</dd>'+
                            '<dd style="width:15%">' + formatPrice(formatCount(res[i].total)) + '</dd>'+
                            '<dd style="width:10%" class="' + (res[i].change >= 0 ? 'red' : 'green') + '">' + res[i].change + '%</dd>'+
                            '<dd style="width:10%;padding-left:0;text-align:left;">' + formatPrice(res[i].max_price) + '</dd>'+
                            '<dd style="width:10%;text-align:left;">' + formatPrice(res[i].min_price) + '</dd>'+
                            '<dd style="width:10%">'+
                               '<input type="button" value="去交易" onclick="toMarket(\'' + res[i].market + '\')" />'+
                            '</dd>'+
                        '</dl>'+
                    '</li>'
                }
                $('#contract-list').html(html);
            }
        },'json');

        getContractList_timer = setTimeout(function() {
            getContractList();
        },5000)
        
    }
    //getContractList();

    function trends() {
        $.getJSON('/Ajax/trends?t=' + rd(), function (d) {
            trends = d;
            allcoin();
        });
    }

    // 现货行情
    var allcoin_timer = null;
    function allcoin(cb) {
        clearTimeout(allcoin_timer);
        allcoin_timer = null;
        $.get('/Ajax/allcoin?t=' + rd(), cb ? cb : function (d) {
            ALLCOIN = d;
            var t = 0;
            var img = '';
            priceTmp = [];
            //把json转换为二维数组 进行渲染
            // d.yhet_usdt = ["YHET<span>Yhetgame</span>", 0.04, 0.04, 0.04, 56822, "", 4000000, 0.01, "yhet_usdt", "5c10cbff92521.png", "", null];
            for (var x in d) {
                if (typeof(trends[x]) != 'undefined' && parseFloat(trends[x]['yprice']) > 0) {
                    rise1 = (((parseFloat(d[x][4]) + parseFloat(d[x][5])) / 2 - parseFloat(trends[x]['yprice'])) * 100) / parseFloat(trends[x]['yprice']);
                    rise1 = rise1.toFixed(2);
                } else {
                    rise1 = 0;
                }
                img = d[x].pop();
                d[x].push(rise1);
                d[x].push(x);
                d[x].push(img);
                priceTmp.push(d[x]);
            }
            //二次排序
            $('.price_today_ull > .click-sort').each(function () {
                var listId = $(this).attr('data-sort');
                if ($(this).attr('data-flaglist') == 1 && $(this).attr('data-sort') !== 0) {
                    priceTmp = priceTmp.sort(sortcoinList('dec', listId))
                } else if ($(this).attr('data-flaglist') == 2 && $(this).attr('data-sort') !== 0) {
                    priceTmp = priceTmp.sort(sortcoinList('asc', listId))
                }
            });
            
            
            renderPage(priceTmp);
            allcoin_callback(priceTmp);
            
            allcoin_timer = setTimeout('allcoin()', 5000);
        }, 'json');
    }

    function rd() {
        return Math.random()
    }
    //渲染函数
    function renderPage(ary) {
        var html = '';
        
        for (var i in ary) {
            var coinfinance = 0;
            if (typeof FINANCE == 'object') coinfinance = parseFloat(FINANCE.data[ary[i][8] + '_balance']);
            html += '<li>'+
                        '<dl class="autobox clear">'+
                            '<dd style="width:20%;">'+
                                '<a href="javascript:;">' +
                                    '<img src="/Upload/coin/' + ary[i][9] + '">' + 
                                        ary[i][0] + 
                                '</a>'+
                                // '<a href="/trade/index/market/' + ary[i][8] + '/">' +
                                //     '<img src="/Upload/coin/' + ary[i][9] + '">' + 
                                //         ary[i][0] + 
                                // '</a>'+
                            '</dd>'+
                            '<dd style="width:15%;">' + formatPrice(ary[i][1]) + '</dd>'+
                            '<dd style="width:15%;">' + formatPrice(formatCount(ary[i][4])) + '</dd>'+
                            '<dd style="width:20%;">' + formatPrice(formatCount(ary[i][6])) + '</dd>'+
                            '<dd style="width:15%;" class="' + (ary[i][7] >= 0 ? 'red' : 'green') + '">' + (ary[i][1] == 0 ? '--' : (parseFloat(ary[i][7]) < 0 ? '' : '+') + ((parseFloat(ary[i][7]) < 0.01 && parseFloat(ary[i][7]) > -0.01) ? "0.00" : ary[i][7]) + '%') + '</dd>'+
                            '<dd style="width:15%;" id="' + ary[i][8] + '_plot"></dd>'+
                            //'<dd>'+
                              //  '<input type="button" value="去交易" onclick="toMarket(\'' + ary[i][8] + '\')" /></dd>'+
                            // '<dd>'+
                            //     '<div class="add-fav ' + (ary[i][13] == "1" ? "add-fav-on" : "") + '" data-collection="' + ary[i][13] + '" data-market="' + ary[i][8] + '" onclick="ui.collection()"></div>'+
                            // '</dd>'+
                        '</dl>'+
                    '</li>'
            
        }
        $('#price_today_ul').html(html);

    }
    
    function toMarket(name){
        top.location='/contract/index/market/' + name + '/';
    }

    //保留2位小鼠
    function formatCount(num) {
        var result = '', counter = 0;
        num = (num || 0).toString();
        for (var i = num.length - 1; i >= 0; i--) {
            result = num.charAt(i) + result;
            if(num.indexOf('.') != -1 && i >= num.indexOf('.') ){
                continue;
            }else{
                counter++;
            }
            if (!(counter % 3) && i != 0) { result = ',' + result; }
        }
        return result;
    }
    //格式化价格
    function formatPrice(price){
        return  price.toString() == '0' ? '--' : "$" + price;
    }

    //排序函数
    function sortcoinList(order, sortBy) {
        var ordAlpah = (order == 'asc') ? '>' : '<';
        var sortFun = new Function('a', 'b', 'return parseFloat(a[' + sortBy + '])' + ordAlpah + 'parseFloat(b[' + sortBy + '])? 1:-1');
        return sortFun;
    }


    trends();


    var cookieValue = $.cookies.get('cookie_username');

    if (cookieValue != '' && cookieValue != null) {
        $("#username").val(cookieValue);
    }


    // 合约交易与usdt交易切换
    $('body').on('click','.tab-item-btn',function() {
        if(!$(this).hasClass('active')) {
            $(this).addClass('active').siblings().removeClass('active');
            var value = $(this).data('value');
            $('.content-'+ value).show().siblings('.trade-container').hide();
        }
    })
    
</script>
<script>
    //菜单高亮
    $('#index_box').addClass('active');

    var verfiy = function() {
        if ($('#index_username').val() == '' || $('#index_username').val().length == 0) {
            layer.tips('请输入用户名', '#index_username', {tips: 3});
            return;
        }
        if ($('#index_password').val() == '' || $('#index_password').val().length == 0) {
            layer.tips('请输入登录密码', '#index_password', {tips: 3});
            return;
        }
        if ($('#index_verify').val() == '' || $('#index_verify').val().length == 0) {
            layer.tips('图形验证码不能为空!', '#index_verify', {tips: 3});
            return;
        }
        return true;
    }
    var loginClick = function() {
        var e = event || window.event || arguments.callee.caller.arguments[0];
        if (e && e.keyCode == 13) { // enter 键
            // if (!verfiy()) {
            //     return;
            // }
            user.login();
        }
    }
    $('#username').bind('keydown', loginClick);
    $('#password').bind('keydown', loginClick);
    $('#verify').bind('keydown', loginClick);


</script>
<include file="Public:footer"/>
