.ui-alert {
	padding: 15px;
	margin-bottom: 20px;
	color: #999;
	background-color: #f2f2f2;
    border-radius: 3px;
    h4 {
        color: inherit;
        font-weight: 700;
        margin-bottom: 10px;
    }
}

.ui-alert-warning {
	color: #ed980f;
    background-color: #fff0d5;
}

.ui-alert-info{
	color: #03a2b6;
	background-color: #ddf3f5;
}