<include file="Public:header"/>
<div id="main-content">
    <div id="top-alert" class="fixed alert alert-error" style="display: none;">
        <button class="close fixed" style="margin-top: 4px;">&times;</button>
        <div class="alert-content">警告内容</div>
    </div>
    <div id="main" class="main">
        <div class="main-title-h">
            <span class="h1-title">交易列表</span>
        </div>

        <div class="cf">
            <div class="search-form fr cf">
                <div class="sleft">
                    <form name="formSearch" id="formSearch" method="get" name="form1">
                        <select style="width: 160px; float: left; margin-right: 10px;" name="status" class="form-control">
                            <option value=""
                            <empty name="Think.get.status">selected</empty>
                            >交易状态</option>
                            <option value="0"
                            <eq name="Think.get.status" value="0">selected</eq>
                            >未付款</option>
                            <option value="1"
                            <eq name="Think.get.status" value="1">selected</eq>
                            >已付款</option>
                            <option value="2"
                            <eq name="Think.get.status" value="2">selected</eq>
                            >已完成</option>
                            <option value="4"
                            <eq name="Think.get.status" value="4">selected</eq>
                            >已取消</option>
                        </select>
                        <select style=" width: 160px; float: left; margin-right: 10px;" name="field" class="form-control">
                            <option value="username"
                            <eq name="Think.get.field" value="username">selected</eq>
                            >用户名</option>
                        </select>
                        <input type="text" name="name" class="search-input form-control  " value="{$Think.get.name}" placeholder="请输入查询内容" style="">
                        <a class="sch-btn" href="javascript:;" id="search"> <i class="btn-search"></i> </a>
                    </form>
                    <script>
                        //搜索功能
                        $(function () {
                            $('#search').click(function () {
                                $('#formSearch').submit();
                            });
                        });
                        //回车搜索
                        $(".search-input").keyup(function (e) {
                            if (e.keyCode === 13) {
                                $("#search").click();
                                return false;
                            }
                        });
                    </script>
                </div>
            </div>
        </div>

        <div class="data-table table-striped">
            <table class="">
                <thead>
                <tr>
                    <th class="row-selected row-selected"><input class="check-all" type="checkbox"/></th>
                    <th class="">ID</th>
                    <th class="">买家</th>
                    <th class="">卖家</th>
                    <th class="">交易对</th>
                    <th width="">金额</th>
                    <th width="">数量</th>
                    <th class="">交易类型</th>
                    <th width="">支付类型</th>
                    <th width="">添加时间</th>
                    <th width="">交易状态</th>
                    <th width="">操作</th>

                </tr>
                </thead>
                <tbody>
                <notempty name="list">
                    <volist name="list" id="vo">
                        <tr>
                            <td><input class="ids" type="checkbox" name="id[]" value="{$vo.id}"/></td>
                            <td>{$vo.id}</td>
                            <td>{$vo['buyname']} </td>
                            <td>{$vo['sellname']} </td>
                            <td>{$vo.market}</td>
                            <td>{$vo.price}</td>
                            <td>{$vo.num}</td>
                            <td>
								<eq name="vo.type" value="1">买入
                                </eq>
                                <eq name="vo.type" value="2">卖出
                                </eq>
                            </td>
                            <td>{$vo.paytype|handle_pay_type}</td>
                            <td>
                                <empty name="vo['addtime']">
                                        ---
                                <else />
                                    {$vo.addtime|addtime}
                                </empty>
                            </td>
                      

                            <td>{$vo.status|handle_log_status}</td>
                  

                        </tr>
                    </volist>
                    <else/>
                    <td colspan="12" class="text-center">Oh! 暂时还没有内容!</td>
                </notempty>
                </tbody>
            </table>
            <div class="page">
                <div>{$page}</div>
            </div>
        </div>
    </div>
</div>
<include file="Public:footer"/>
<block name="script">
    <script type="text/javascript" charset="utf-8">
        //导航高亮
        highlight_subnav("{:U('Finance/myzc')}");
    </script>
</block>