<include file="Public:header" />
<div class="autobox">
	<div class="now">
		<a href="/" class="orange">首页</a> &gt;
		<a href="/finance/" class="orange">财务中心</a> &gt; 提现
	</div>
	<div class="assets_center clear po_re zin70">
		<!--左侧菜单-->
		<include file="Finance:left" />
		<!--右侧内容-->
		<form id="form-cnyin" class="assets-content assets_content w900 right bg_w">
			<div class="ui-title">
				<span>{$market}提现</span>
			</div>
			<include file="Public:alert" />
			<div class="choosepaymethod">
				<div class="choosebanks" style="margin-top: 10px;">
					<div class="methodway clearfix">
						<div class="pwtrade">
							<form id="form-pw" class="pw">
								<dl>
									<dt>可用余额：</dt>
									<dd>
										{$balance}
									</dd>
								</dl>
								<dl>
									<dt>钱包地址：</dt>
									<dd>
										<select name="addr" id="addr" style="width:350px;">
											<volist name='addr' id='vo'>
												<option value="{$vo['addr']}">
													{$vo['addr']}
												</option>
											</volist>
										</select>
									</dd>
								</dl>
								<dl>
									<dt>提现数额：</dt>
									<dd>
										<input type="text" name="num" id="num">
									</dd>
								</dl>
								<dl>
									<dt>手续费：</dt>
									<dd>
										{$fee}
									</dd>
								</dl>
								<dl>
									<dt>交易密码：</dt>
									<dd>
										<input type="password" id="paypass" autocomplete="off">
										<input type="hidden" name="market" id="market" value="{$market}">

									</dd>
								</dl>
								<dl>
									<dt></dt>
									<dd>
										<input type="button" value="保存" onclick="Update()" id="buttonid">

									</dd>
								</dl>
							</form>
						</div>

					</div>
				</div>
				<div class="f_body">
					<table class="f_table" id="investLog_content">
						<thead>
							<tr>
								<th width="">提现时间</th>
								<th width="">区块hash</th>
								<th width="">提现金额</th>
								<th width="">提现手续费</th>
								<th width="">实际到账</th>
								<th width="">状态</th>
							</tr>
						</thead>
						<tbody>
							<volist name="list" id="vo">
								<tr>
									<td>{$vo.addtime|date='Y-m-d H:i:s',###}</td>
									<td>{$vo.tradeno|default="--"}</td>
									<td>{$vo['num']|default="0.00"}</td>
									<td>{$vo['fee']}</td>
									<td>{$vo['mum']|default="0.00"}</td>
									<td>
										<eq name="vo.status" value="0">
											审核中
										</eq>
										<eq name="vo.status" value="1">
											提现成功
										</eq>
										<eq name="vo.status" value="2">
											提现失败
										</eq>
										<eq name="vo.status" value="3">
											区块处理中
										</eq>
									</td>
								</tr>
							</volist>
						</tbody>
					</table>
					<div class="pages">{$page}</div>
				</div>
			</div>
		</form>
	</div>
</div>
<br>
<br>
<script>
	var trans_lock = 0;
	
	$('input').focus(function() {
		var t = $(this);
		if (t.attr('type') == 'text' || t.attr('type') == 'password')
			t.css({
				'box-shadow': '0px 0px 3px #1583fb',
				'border': '1px solid #1583fb',
				'color': '#333'
			});
		if (t.val() == t.attr('placeholder'))
			t.val('');
	});
	$('input').blur(function() {
		var t = $(this);
		if (t.attr('type') == 'text' || t.attr('type') == 'password')
			t.css({
				'box-shadow': 'none',
				'border': '1px solid #e1e1e1',
				'color': '#333'
			});
		if (t.attr('type') != 'password' && !t.val())
			t.val(t.attr('placeholder'));
	});

	function Update() {
		if (trans_lock) {
            layer.msg('不要重复提交', {icon: 2});
            return;
        }
        trans_lock = 1;
		$.post("{:U('userburse/mytxadd')}", {
			num: $('#num').val(),
			paypass: $('#paypass').val(),
			market: $('#market').val(),
			addr: $('#addr').val()
		}, function(data) {
			trans_lock = 0;
			if (data.status == 1) {
				layer.msg(data.info, {
					icon: 1
				});

				window.location.reload();
			} else {
				layer.msg(data.info, {
					icon: 2
				});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>
<script>
	/*$("#status-selectTest").change(function () {
					var status = $("#status-selectTest option:selected").val();
					window.location = '/Finance/mycz/status/' + status + '/.html';
				});*/

	function myczHuikuan(id) {
		$.post("{:U('Finance/myczHuikuan')}", {
			id: id
		}, function(data) {
			if (data.status == 1) {
				layer.msg(data.info, {
					icon: 1
				});
				window.location.reload();
			} else {
				layer.msg(data.info, {
					icon: 2
				});
			}
		}, "json");
	}

	function myczChakan(id) {

		layer.open({
			title: '人民币充值',
			type: 2,
			area: ['650px', '500px'],
			content: ["{:U('Pay/mycz')}?id=" + id, 'no']
		});

	}

	function myczUp() {

		var mbTest_num = /^([1-9]{1}\d*)(\.(\d){1,2})?$/;
		var type = $('#mycz_type option:selected').val();
		var num = $("#mycz_amount").val();
		if (type == "" || type == null) {
			layer.tips('请选择充值方式', '#mycz_type', {
				tips: 3
			});
			return false;
		}
		if (num == "" || num == null) {
			layer.tips('请输入充值金额', '#mycz_amount', {
				tips: 3
			});
			return false;
		} else {
			num = num + $('#random').html();
		}
		if (!mbTest_num.test(num)) {
			layer.tips('充值金额格式错误 (人民币格式)', '#mycz_amount', {
				tips: 3
			});
			return false;
		}
		$.post("{:U('Finance/myczUp')}", {
			type: type,
			num: num
		}, function(data) {
			if (data.status == 1) {
				layer.open({
					title: '人民币充值',
					type: 2,
					area: ['650px', '500px'],
					content: ["{:U('Pay/mycz')}?id=" + data.url.id, 'no']
				});
			} else {
				layer.msg(data.info, {
					icon: 2
				});
				if (data.url) {
					window.location = data.url;
				}
			}
		}, "json");
	}
</script>
<script>
	$('#finance_box').addClass('active');
	$('#finance_index').addClass('active');
</script>
<include file="Public:footer" />
