<include file="Public:header"/>
<div class="autobox">
    <div class="now">
        <a href="/" class="orange">首页</a> &gt;
        <a href="/user/index.html" class="orange">安全中心 </a> &gt; 支付宝绑定
    </div>
    <div class="assets_center clear po_re zin70">
        <!--左侧菜单-->
        <include file="User:left"/>
        <!--右侧内容-->
        <div class="assets-content assets_content w900 right bg_w">
            <div class="ui-title">
                <span>支付宝绑定</span>
            </div>
            <include file="Public:alert" />
            <empty name="user['id']">
                <div id="msg-box"></div>
                <form id="zfb" action="{:U('User/upalipay')}" class="pwtrade mart30" enctype="multipart/form-data" method="post">
                    <dl>
                        <dt>支付宝账号：</dt>
                        <dd>
                            <input type="text" id="bindAccount" name="alipay">
                        </dd>
                    </dl>
                      <dl>
                        <dt>支付宝账号昵称：</dt>
                        <dd>
                            <input type="text" id="name" name="name">
                        </dd>
                    </dl>
                    <dl>
                        <dt>支付宝账收款码图片：</dt>
                        <dd>
                            <notempty name="user.payimg">
                                <button id="uploadButton" class="upload-button" type="button" >点击上传图片</button>
                                <!-- <img id="up_img" onclick="getElementById('inputfile').click()" style="cursor:pointer;max-width:200px;max-height:200px; " title="点击添加图片" alt="点击添加图片" src="{$user.payimg}"> -->
                            <else/>
                                <button id="uploadButton" class="upload-button" type="button" >点击上传图片</button>
                                <!-- <img id="up_img" onclick="getElementById('inputfile').click()" style="cursor:pointer;max-width:200px;max-height:200px;" title="点击添加图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png"> -->
                            </notempty>
                            <input type="hidden" id="img" name="payimg" value="{$user.payimg}">
                            <input type="file" id="inputfile" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>
                            <div id="imageArea" class="image-area hide">
                                <img id="qcodeImg" title="点击添加图片" alt="点击添加图片" src="{$user.payimg}" style="max-width: 200px;max-height: 355px;">
                            </div>
                        </dd>
                    </dl>
                    <dl>
                        <dt>交易密码：</dt>
                        <dd>
                            <input type="password" id="paypassword" name="paypassword">
                        </dd>
                    </dl>
                    <dl>
                        <dt></dt>
                        <dd style="width: 200px;">
                            <button class="ui-button ui-button-block" type="button" onclick="accountBind.save()">绑定支付宝</button>
                        </dd>
                    </dl>
                </form>
            <else/>
                <form id="form-mobilebind" class="pwtrade mart30" enctype="multipart/form-data" method="post">
                    <div class="band_succ" style="margin-bottom: 20px;margin-left: 130px;">
                        <div class="ui-band ui-band-success"><i class="ui-icon ui-icon-success"></i>您的账户已绑定支付宝。</div>
                    </div>
                    <dl>
                        <dt>支付宝账号：</dt>
                        <dd title="联系管理员修改">
                            <input type="text" id="bindAccount" value="{$user.account}">
                        </dd>
                    </dl>
                     <dl>
                       <dt>支付宝账号昵称：</dt>
                        <dd>
                            <input type="text" id="name" value="{$user.name}">
                        </dd>
                    </dl>
                    <dl>
                        <dt>支付宝账收款码图片：</dt>
                        <dd>
                            <p>(点击图片上传收款码)</p>
                            <notempty name="user.payimg">
                                <!--没有图片显示默认图片-->
                                <img id="qcodeImg" onclick="getElementById('inputfile').click()" style="cursor:pointer;max-width: 200px;max-height: 355px; " title="点击添加图片" alt="点击添加图片" src="{$user.payimg}">
                            <else/>
                                <!--没有图片显示默认图片-->
                                <img id="qcodeImg" onclick="getElementById('inputfile').click()" style="cursor:pointer;max-width: 200px;max-height: 355px;" title="点击添加图片" alt="点击添加图片" src="__PUBLIC__/Admin/images/addimg.png">
                            </notempty>
                            <input type="hidden" id="img" name="payimg" value="{$user.payimg}">
                            <input type="file" id="inputfile" style="height:0;width:0;z-index: -1; position: absolute;left: 10px;top: 5px;" value=""/>                            
                        </dd>
                   </dl> 
                    <dl>
                         <dt></dt>
                         <dd style="width: 200px;">
                            <button class="ui-button ui-button-block" type="button" onclick="accountBind.update()">保存支付宝信息</button>
                        </dd>
                   </dl>
                </form>
            </empty>
        </div>
    </div>
</div>
<br>
<br>
<script>
    $('#user_box').addClass('active');
    $("#user_bind_alipay").addClass("active");


    
    accountBind.init({
        name : "alipay",
        saveUrl :  "{:U('User/upalipay')}",
        updateUrl : "{:U('User/payupdate')}"
    });

</script>
<include file="Public:footer"/>